{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Sign up · prosocial{% endblock %}
{% block content %}
<h1 class="h4 mb-3">Create an account</h1>
<form method="post" class="vstack gap-3">
  {% csrf_token %}
  {% include "partials/form_errors.html" %}
  <div class="row g-3">
    <div class="col-md-6"><label class="form-label">Username</label>{{ form.username|add_class:"form-control" }}</div>
    <div class="col-md-6"><label class="form-label">Email</label>{{ form.email|add_class:"form-control" }}</div>
    <div class="col-md-6"><label class="form-label">First name</label>{{ form.first_name|add_class:"form-control" }}</div>
    <div class="col-md-6"><label class="form-label">Last name</label>{{ form.last_name|add_class:"form-control" }}</div>
    <div class="col-md-6"><label class="form-label">Headline</label>{{ form.headline|add_class:"form-control" }}</div>
    <div class="col-md-6"><label class="form-label">Location</label>{{ form.location|add_class:"form-control" }}</div>
    <div class="col-md-6"><label class="form-label">Password</label>{{ form.password|add_class:"form-control" }}</div>
    <div class="col-md-6"><label class="form-label">Password (repeat)</label>{{ form.password2|add_class:"form-control" }}</div>
  </div>
  <button class="btn btn-primary" type="submit">Sign up</button>
</form>
{% endblock %}
